<div class="footer">
    <div class="footer-social">
      <a href="https://discord.com/channels/@me" class="footer__icon"><i class='bx bxl-discord'></i></a>
      <a href="https://stackoverflow.com/users/18612376/kash-subba" class="footer__icon"><i class='bx bxl-stack-overflow'></i></a>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=subbakash11@gmail.com" class="footer__icon"><i class='bx bxs-envelope'></i></a>
      <a href="https://github.com/Nepinte" class="footer__icon"><i class='bx bxl-github'></i></a>
    </div>
</div>
</body>

</html>
