<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Secrets</h1>
    <p class="lead">In this website you can SignIn and SignUp accounts then share secrets, share stories and search weather.
    If you LogOut your data will save securely in MongoDb!</p>
    <hr>

    <div class="home-btn">
      <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
