<%- include('partials/header') %>

<div class="container-fluid">
  <div class="nav-container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="">Aita Subba</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarOffcanvasLg" aria-controls="navbarOffcanvasLg">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end bg-dark " tabindex="-1" id="navbarOffcanvasLg" aria-labelledby="navbarOffcanvasLgLabel">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item" id="home">
            <a class="nav-link" href="/Secrets">HOME</a>
          </li>
          <li class="nav-item" id="posting">
            <a class="nav-link" href="/story">STORY</a>
          </li>
          <li class="nav-item" id="weather">
            <a class="nav-link" href="/weather">WEATHER</a>
          </li>
          <li class="nav-item" id="logout">
            <a class="nav-link" href="/logout">LOGOUT</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="weather">
    <h1>Search Weather!</h1>
    <form action="/weather" method="post">
      <label for="cityInput">City Name:</label>
      <input type="text" name="cityName" id="cityInput" placeholder="Search by city name" autofocus>
      <button type="submit" class="btn-search">Go</button>
    </form>
    <hr>

  <%- include('partials/footer') %>
